<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.role.PanoramicRoleMapper">
  <resultMap id="BaseResultMap" type="com.monitor.model.role.PanoramicRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="dtime" jdbcType="TIMESTAMP" property="dtime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
</mapper>