<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.intothefactoryrecords.PanoramicIntoTheFactoryRecordsMapper">
  <resultMap id="BaseResultMap" type="com.monitor.model.intothefactoryrecords.PanoramicIntoTheFactoryRecords">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="err_msg" jdbcType="VARCHAR" property="errMsg" />
    <result column="number_plate" jdbcType="VARCHAR" property="numberPlate" />
    <result column="net_weight" jdbcType="DOUBLE" property="netWeight" />
    <result column="tare" jdbcType="DOUBLE" property="tare" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime" />
    <result column="out_time" jdbcType="TIMESTAMP" property="outTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="snapshot_time" jdbcType="TIMESTAMP" property="snapshotTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="dtime" jdbcType="TIMESTAMP" property="dtime" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="in_or_out" jdbcType="INTEGER" property="inOrOut" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
</mapper>