<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.sparepartsintoinventory.PanoramicSparePartsIntoInventoryMapper">
  <resultMap id="BaseResultMap" type="com.monitor.model.sparepartsintoinventory.PanoramicSparePartsIntoInventory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="in_out_time" jdbcType="TIMESTAMP" property="inOutTime" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="unit_price" jdbcType="DOUBLE" property="unitPrice" />
    <result column="amount_price" jdbcType="DOUBLE" property="amountPrice" />
    <result column="in_out_type" jdbcType="INTEGER" property="inOutType" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="f_id" jdbcType="INTEGER" property="fId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="dtime" jdbcType="TIMESTAMP" property="dtime" />
  </resultMap>
</mapper>