<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.materialthresholdconfiguration.PanoramicMaterialThresholdConfigurationMapper">
  <resultMap id="BaseResultMap" type="com.monitor.model.materialthresholdconfiguration.PanoramicMaterialThresholdConfiguration">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="upper_limit" jdbcType="DOUBLE" property="upperLimit" />
    <result column="lower_limit" jdbcType="DOUBLE" property="lowerLimit" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="uptime" jdbcType="TIMESTAMP" property="uptime" />
    <result column="dtime" jdbcType="TIMESTAMP" property="dtime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
</mapper>