<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.mapper.exceptionrecord.PanoramicExceptionRecordMapper">
  <resultMap id="BaseResultMap" type="com.monitor.model.exceptionrecord.PanoramicExceptionRecord">
    <!--
       WARNING - @mbg.generated
     -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="alarm_item" jdbcType="VARCHAR" property="alarmItem" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="alarm_content" jdbcType="VARCHAR" property="alarmContent" />
    <result column="alarm_time" jdbcType="TIMESTAMP" property="alarmTime" />
    <result column="associated_person" jdbcType="VARCHAR" property="associatedPerson" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="dtime" jdbcType="TIMESTAMP" property="dtime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="related_person_log" jdbcType="VARCHAR" property="relatedPersonLog" />
  </resultMap>
</mapper>